@media only screen and (max-width: 900px) {
    
    

   
}
body{
	background-color: red;
}
.fit{
	margin: 0px auto;
}
.choice-holder1{
		background-position: center;
	background-repeat: no-repeat;
	height: 130px;
	width: 500px;
	
	
	
}
.choice-holder2{
	
	background-position:center;
	background-repeat: no-repeat;
	height: 130px;
	width: 500px;
	

	
}
#compscore{
	color: red;
}
#playerscore{
	color: limegreen;
}
